@import '../styles/main.scss';

.button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    border-radius: $space-l;
    background-color: $color-primary;
    color: $color-text;
    padding: $space-xs;
    border-color: $color-accent;
    &:hover {
        background-color: $color-primary-variant;
    }
    cursor: pointer;
    min-width: 8rem;
    border-style: solid;
}
