@import './../styles/main.scss';

.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputfield {
    margin: $space-s;
    display: flex;
    width: 85%;
    word-break: normal;
    padding: $space-s;
    background-color: $color-primary;
    color: $color-text;
    border-radius: $space-xl;
    border: none;
    overflow: hidden;
}

.buttoncontainer {
    margin: $space-xs;
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
}

.sendbutton {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary-variant;
    color: $color-accent;
    border: none;
    cursor: pointer;
}
