@import './../styles/main.scss';

.commentcontainer {
    background-color: $color-5;
    display: flex;
    flex-direction: column;
    margin: $space-m;
    border-radius: $space-m;
    width: fit-content;
}
