@import './../styles/main.scss';

.commentcontainer {
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    margin: $space-m;
    border-radius: $space-m;
    width: fit-content;
    color: $color-text;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $space-s;
    color: $color-text;
}

.username {
    display: flex;
    font-size: smaller;
}

.date {
    margin-left: $space-m;
    display: flex;
    font-size: smaller;
}

.text {
    color: $color-text;
    display: flex;
    padding: $space-s;
    word-break: normal;
    font-size: smaller;
}
