@import './../styles/main.scss';

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: $space-xl;
}

.fieldname {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-accent-variant;
}

.fieldvalue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-secondary-variant;
    padding-left: $space-s;
    font-weight: 400;
}

.infocontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.editbutton {
    min-width: fit-content;
    width: fit-content;
    border-radius: $space-s;
    padding: $space-xxs;
    margin: $space-xs $space-xs;
}

.formcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.searchcontainer {
    border-radius: $space-l;
    background-color: $color-accent-variant;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: baseline;
    align-items: center;
    min-height: 2rem;
    min-width: 10rem;
}

.forminput {
    display: flex;
    background: none;
    border: unset;
    margin-left: $space-s;
    padding: $space-xxs;
    width: 80%;
    color: $color-primary;
}

.confirmbutton {
    color: $color-accent;
    border-color: $color-accent;
    min-width: 3rem;
    width: 3rem;
    border-radius: $space-s;
    padding: $space-xxs;
    margin: $space-xs $space-xs;
}

.declinebutton {
    color: $color-warning;
    border-color: $color-warning;
    min-width: 3rem;
    width: 3rem;
    border-radius: $space-s;
    padding: $space-xxs;
    margin: $space-xs $space-xs;
}
