@import './../styles/main.scss';

.maincontainer {
    display: flex;
    flex-direction: column;
    margin-left: $space-xl;
    margin-top: $space-s;
}

.fieldname {
    margin-top: $space-s;
    color: $color-accent-variant;
}

.searchcontainer {
    border-radius: $space-l;
    background-color: $color-accent-variant;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: baseline;
    align-items: center;
    min-height: 2rem;
    min-width: 10rem;
}

.forminput {
    display: flex;
    background: none;
    border: unset;
    margin-left: $space-s;
    padding: $space-xxs;
    width: 80%;
    color: $color-primary;
}

.button {
    margin-top: $space-s;
    width: 8rem;
}
