@import './../styles/main.scss';

.postcontainer {
    background-color: $color-3;
    display: flex;
    flex-direction: column;
    margin: $space-m 0;
    border-radius: $space-m;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $space-s;
}

.username {
    display: flex;
}

.date {
    display: flex;
}

.text {
    display: flex;
    padding: $space-s;
    word-break: normal;
}

.separatorline {
    width: 95%;
    background: black;
    height: 1px;
    display: flex;
    align-self: center;
    margin: $space-s 0;
}
