@import './../styles/main.scss';

.postcontainer {
    width: 100%;
    background-color: $color-secondary-variant;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: $space-m 0;
    border-radius: $space-m;
    align-self: center;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $space-s;
    color: $color-text;
}

.username {
    display: flex;
}

.date {
    display: flex;
}

.text {
    color: $color-text;
    display: flex;
    padding: $space-s;
    word-break: normal;
    white-space: pre-wrap;
}

.separatorline {
    width: 95%;
    background: $color-accent-variant;
    height: 1px;
    display: flex;
    align-self: center;
    margin: $space-s 0;
}
