@import '../styles/main.scss';

.maincontainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: $space-m;
    background-color: $color-secondary-variant;
    border-radius: $space-m;
    align-self: center;
}

.inputfield {
    margin-top: 2%;
    display: flex;
    width: 92%;
    height: 6rem;
    resize: none;
    word-break: normal;
    padding: $space-s;
    margin-left: 2%;
    margin-right: 2%;
    background-color: $color-secondary;
    color: $color-text;
    border-radius: $space-m;
    border: none;
    overflow: hidden;
}

.buttoncontainer {
    width: 96%;
    display: flex;
    justify-content: flex-end;
    margin-top: $space-s;
    margin-bottom: $space-s;
}
