@import '../styles/main.scss';

.maincontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: $space-m;
    background-color: $color-3;
    border-radius: $space-m;
}

.inputfield {
    margin-top: $space-s;
    display: flex;
    width: 96%;
    height: 6rem;
    resize: none;
    word-break: normal;
    padding: $space-s;
    background-color: $color-5;
    border-radius: $space-m;
    border: none;
    overflow: hidden;
}

.buttoncontainer {
    width: 96%;
    display: flex;
    justify-content: flex-end;
    margin-top: $space-s;
    margin-bottom: $space-s;
}
