@import './../styles/main.scss';

.maincontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: $space-m 0;
}

.midcontainer {
    display: flex;
    flex-direction: row;
}

.img {
    width: 2.5rem;
    height: 2.5rem;
}

.infocontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 $space-xs;
}

.name {
    color: $color-text;
    line-height: 16px;
}

.username {
    line-height: 16px;
    color: $color-accent-variant;
    cursor: pointer;
    text-decoration: none;
}

.button {
    width: fit-content;
}
