// Spacing
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-s: 0.75rem;
$space-m: 1rem;
$space-l: 1.5rem;
$space-xl: 2rem;
$space-xxl: 6rem;
$space-mega: 15rem;

// Container sizing
$container-width-sidebar: 15rem;

// Colors
$color-1: #e5f7edfd;
$color-2: #3fd0c9;
$color-3: #2eaf7d;
$color-4: #449342;
$color-5: #38e9a5;
$color-6: #02353c;
$color-7: #034750;

$color-primary: #27323e;
$color-primary-variant: #2f3c4b;
$color-secondary: #1d2631;
$color-secondary-variant: #172128;
$color-accent: #1ea54c;
$color-accent-variant: #aeb6be;
$color-text: #e8eeec;

body {
    margin: 0;
}
