// Spacing
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-s: 0.75rem;
$space-m: 1rem;
$space-l: 1.5rem;
$space-xl: 2rem;
$space-mega: 15rem;

// Container sizing
$container-width-sidebar: 15rem;

// Colors
$color-1: #e5f7edfd;
$color-2: #3fd0c9;
$color-3: #2eaf7d;
$color-4: #449342;
$color-5: #38e9a5;
$color-6: #02353c;
$color-7: #034750;

body {
    margin: 0;
}
