@import './../styles/main.scss';

.navbarcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $space-s;
    background-color: $color-navbar;
}

.margin {
    margin: $space-xs;
}
