@import './../styles/main.scss';

.maincontainer {
    padding: $space-m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    min-height: 460px;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputrow {
    display: flex;
    flex-direction: row;
    margin: $space-s 0;
    justify-content: space-between;
}

.labeltext {
    color: $color-text;
    font-size: small;
}

.input {
    height: min-content;
    padding: $space-xxs;
    color: $color-primary;
    background-color: $color-accent-variant;
    border: none;
    border-radius: $space-xxs;
    margin-bottom: $space-xs;
}

.title {
    display: flex;
    justify-content: center;
    color: $color-text;
    margin-bottom: $space-s;
}

.buttoncontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-xxs;
    margin-top: $space-xs;
    @media only screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.leftbutton {
    display: grid;
}

.rightbutton {
    display: grid;
}

.emptydiv {
    @media only screen and (max-width: 1200px) {
        display: none;
    }
}
