@import './../styles/main.scss';

.maincontainer {
    display: flex;
    flex-direction: column;
    background-color: $color-secondary-variant;
    height: fit-content;
    width: 100%;
    padding: $space-s;
    margin: $space-m;
    position: sticky;
    top: $space-xxl;
    justify-content: center;
}

.usercontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divider {
    width: 80%;
    background: $color-accent-variant;
    height: 1px;
    display: flex;
    align-self: center;
}

.title {
    color: $color-text;
    display: flex;
    align-content: center;
    justify-content: center;
}
