@import '../styles/main.scss';

.mainpagecontainer {
    display: flex;
    flex-direction: row;
    padding-top: $space-xl;
    gap: $space-s;
}

.leftbar {
    display: flex;
    width: 20%;
}

.middlebar {
    display: flex;
    width: 60%;
    justify-content: center;
}

.rightbar {
    display: flex;
    width: 20%;
}
