@import '../styles/main.scss';

.mainpagecontainer {
    display: flex;
    flex-direction: row;
    padding-top: $space-xl;
    gap: $space-s;
}

.leftbar {
    width: $container-width-sidebar;
}

.middlebar {
    width: 60%;
    padding: 0 $space-m;
}

.rightbar {
    width: 0;
}
