@import './../styles/main.scss';

.maincontainer {
    width: 60%;
    background-color: $color-secondary-variant;
    display: flex;
    flex-direction: row;
    margin: $space-xxl 0;
    border-radius: $space-m;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.registerformcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
