@import './../styles/main.scss';

.maincontainer {
    width: 100%;
    background-color: $color-secondary-variant;
    max-width: 600px;
    margin: $space-m 0;
    border-radius: $space-m;
    height: fit-content;
    min-height: 320px;
}

.midbox {
    display: flex;
    flex-direction: column;
    padding: $space-m;
}

.title {
    color: $color-accent-variant;
    align-self: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    gap: $space-m;
    @media only screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.text {
    margin-top: $space-m;
    align-self: center;
    color: $color-text;
}
