@import './styles/main.scss';

.app {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    min-height: 100vh;
}

.separatorline {
    width: 100%;
    background: $color-accent-variant;
    height: 1px;
    display: flex;
    align-self: center;
}
