// Spacing
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-s: 0.75rem;
$space-m: 1rem;
$space-l: 1.5rem;
$space-xl: 2rem;
$space-mega: 15rem;

// Container sizing
$container-width-sidebar: 15rem;

body {
    margin: 0;
}
